$black: #000000;
$grey-100: #e5e5e5;
$grey-300: #757575;
$grey-500: #414141;
$purple: #422755;
$red: #f04837;
$violet: #6e4b87;
$white: #ffffff;
$yellow: #feaf3d;

@mixin flexbox($justify-content, $flex-direction, $align-items) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
}
@mixin styleinfo($width, $height) {
    width: $width;
    height: $height;
}
@mixin fontstyle($font-size, $line-height, $font-weight, $color) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    color: $color;
}
@mixin buttonstyle($background, $border-radius) {
    background: $background;
    border-radius: $border-radius;
    border: 0;
    transition: 0.5s;
}
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
p,
label,
input,
select,
input::placeholder {
    font-family: "Open Sans";
}
ul {
    list-style-type: none;
}
button,
a {
    cursor: pointer;
}
.header-page {
    @include styleinfo(100%, 381px);
    background-image: -webkit-linear-gradient(88deg, $white 12%, $purple 13%);
    @include flexbox(center, column, center);

    h1 {
        @include fontstyle(36px, 49px, 800, $white);
        margin-bottom: 20px;
    }
    h3 {
        @include fontstyle(18px, 25px, 400, $white);
    }
}
.form-page {
    margin: 50px 150px 0 150px;
    background: $yellow;
    height: 85px;
    border-radius: 8px;
    @include flexbox(space-around, row, center);
    section input {
        @include styleinfo(276px, 34px);
        border: 0;
        border-radius: 8px 0px 0px 8px;
        text-indent: 8px;
    }
    section input::placeholder {
        @include fontstyle(12px, 16px, 400, $grey-300);
    }
    section button {
        @include styleinfo(69px, 34px);
        @include fontstyle(14px, 19px, 600, $white);
        @include buttonstyle($violet, 8px);
        margin-left: -10px;
    }
    section button:hover {
        background: $purple;
    }
    section:nth-child(2) {
        @include flexbox(space-between, row, center);
    }
    section h6 {
        @include fontstyle(14px, 19px, 600, $white);
    }
    section select {
        @include styleinfo(193px, 34px);
        border-radius: 8px;
        border: 0;
        margin-left: 13px;
        text-indent: 12px;
        background: $white;
    }
}
.main-page {
    margin: 20px 150px 20px 150px;
    ul {
        @include flexbox(space-around, row, flex-start);
        flex-wrap: wrap;
        li {
            @include styleinfo(270px, 360px);
            @include flexbox(center, column, center);
            border: 1px solid $black;
            transition: height 0.1s ease-out;
            overflow: hidden;
            border-radius: 14px;
            padding: 14px;
            margin: 50px 5px 10px 5px;
            section {
                aside {
                    h3 {
                        @include fontstyle(14px, 19px, 700, $grey-500);
                        margin: 5px 5px 5px 0;
                    }
                    img {
                        display: none;
                    }
                }
                p {
                    @include fontstyle(12px, 16px, 400, $black);
                    margin: 5px 5px 5px 0;
                }
                h5 {
                    @include fontstyle(12px, 16px, 700, $black);
                    margin: 5px 5px 5px 0;
                    span {
                        @include fontstyle(18px, 24px, 700, $red);
                    }
                }
                h6 {
                    @include fontstyle(10px, 13px, 400, $grey-500);
                    margin: 5px 5px 5px 0;
                }
            }
            div {
                display: none;
                margin: 5px 5px 5px 0;
                button:nth-child(1) {
                    @include buttonstyle($purple, 8px);
                    @include fontstyle(16px, 21px, 700, $white);
                    @include styleinfo(218px, 40px);
                    margin-bottom: 8px;
                    &:hover {
                        background: $violet;
                    }
                }
                button:nth-child(2) {
                    @include buttonstyle($red, 8px);
                    @include fontstyle(16px, 21px, 700, $white);
                    @include styleinfo(218px, 40px);
                    margin-bottom: 8px;
                    &:hover {
                        background: $red - 50%;
                    }
                }
            }
        }
        li:hover {
            height: 460px;
            transition: height 0.25s ease-in;
            div {
                display: block;
            }
        }
    }
}
.button-mobile {
    display: none;
}
.img-desktop {
    display: block;
}
.img-mobile {
    display: none;
}
.badge-first {
    position: absolute;
    background: $purple;
    margin: -250px 0 0 -190px;
    @include fontstyle(12px, 16px, 700, $white);
    padding: 8px;
    border-radius: 0px 5px 5px 0px;
}
.badge-second {
    position: absolute;
    background: $red;
    margin: -250px 0 0 -195px;
    @include fontstyle(12px, 16px, 700, $white);
    padding: 8px;
    border-radius: 0px 5px 5px 0px;
}
.button-page {
    @include styleinfo(197px, 38px);
    @include fontstyle(16px, 21px, 700, $white);
    @include buttonstyle($violet, 8px);
    @include flexbox(center, row, center);
    margin: 0 auto;
    transition: 0.5s;
}
.button-page:hover {
    background: $purple;
}
.form-page-signup {
    margin: 50px 250px 100px 250px;
    background: $grey-100;
    height: 110px;
    border-radius: 8px;
    @include flexbox(space-around, column, flex-start);
    padding: 60px 20px 60px 50px;
    p {
        margin: 0;
        @include fontstyle(14px, 19px, 700, $violet);
    }
    div {
        @include flexbox(space-between, row, flex-start);
        width: 100%;
    }
    div div {
        @include flexbox(center, column, flex-start);
        label {
            @include fontstyle(12px, 16px, 400, $grey-300);
            margin: 8px 8px 8px 0;
        }
        input {
            @include styleinfo(290px, 34px);
            border: 0;
            border-radius: 8px;
            text-indent: 8px;
        }
    }
    section input:nth-child(2) {
        width: 300px;
    }
    section input::placeholder {
        @include fontstyle(12px, 16px, 400, $grey-300);
    }
    section button {
        @include fontstyle(14px, 19px, 600, $white);
        @include buttonstyle($violet, 8px);
        margin-left: 10px;
        padding: 0 10px 0 10px;
        height: 34px;
    }
    section button:hover {
        background: $purple;
    }
    section:nth-child(2) {
        @include flexbox(space-between, row, flex-end);
    }
}
.section-logo-page {
    @include flexbox(space-evenly, row, center);
    margin: 50px 150px 50px 150px;
    div {
        width: 70%;
        p {
            @include flexbox(center, column, center);
            @include fontstyle(12px, 16px, 400, $grey-500);
            padding: 16px;
        }
    }
}
.footer-page {
    @include styleinfo(100%, 126px);
    background: $purple;
    @include flexbox(center, column, center);
    @include fontstyle(12px, 16px, 400, $white);
}
@media (max-width: 380px){
    .form-page {
        section input {
            width:230px !important;
        }
    }
    .main-page {      
        ul {
            li {
                height: 250px !important;
            }
        }
    }
    .badge-first {
        margin: -150px 0 0 -250px !important;
    }
}
@media (max-width: 600px) {
    .header-page {
        background-image: -webkit-linear-gradient(86deg, $white 42%, $purple 43%);
        justify-content: space-evenly;
        margin-bottom: 0;
    }
    .header-page h3 {
        color: $purple;
        text-align: center;
    }
    .form-page {
        margin: -60px 5px 0 5px !important;
    }
    .main-page {
        margin: 10px;
        ul {
            justify-content: center;
            li {
                @include styleinfo(100%, 220px);
                @include flexbox(space-evenly, row, center);
                margin: 50px 0 10px 0;
                padding: 4px;
                section {
                    margin: 10px;
                    aside {
                        @include flexbox(space-between, row, center);
                        img {
                            display: block;
                        }
                    }
                }
                &:hover {
                    height: 220px;
                    div {
                        display: none;
                    }
                }
                &:nth-child(5) {
                    display: none;
                }
                &:nth-child(6) {
                    display: none;
                }
                &:nth-child(7) {
                    display: none;
                }
                &:nth-child(8) {
                    display: none;
                }
            }
        }
    }
    .button-mobile {
        @include styleinfo(100%,30px);
        @include fontstyle(16px, 21px, 700, $purple);
        @include buttonstyle($white, 8px);
        margin-bottom: 8px;
        border: 1px solid $purple;
        display: block;
    }
    .button-mobile:hover {
        background: $purple;
        color: $white;
    }
    .badge-first {
        margin: -120px 0 0 -265px;
    }
    .img-desktop {
        display: none;
    }
    .img-mobile {
        display: block;
    }
    .section-logo-page {
        flex-direction: column;
        margin: 50px 10px 50px 10px;
        div {
            width: 100%;
            p {
                text-align: center;
            }
        }
    }
}
@media (max-width: 1000px) {
    .form-page {
        flex-direction: column;
        margin: 0 5px 0 5px;
        height: 150px;
        justify-content: space-evenly;
    }
    .form-page-signup {
        display: none;
    }
}
@media (max-width: 1279px) {
    .form-page-signup {
        div div {
            input {
                width: 140px;
            }
        }
        section input:nth-child(2) {
            width: 150px;
        }
    }
}
