* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, button, a, p, label, input, select, input::placeholder {
  font-family: "Open Sans"; }

ul {
  list-style-type: none; }

button, a {
  cursor: pointer; }

fieldset {
  border: 0; }

.header-page {
  width: 100%;
  height: 381px;
  background-image: -webkit-linear-gradient(88deg, #FFFFFF 12%, #422755 13%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .header-page h1 {
    font-size: 36px;
    line-height: 49px;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 20px; }
  .header-page h3 {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: #FFFFFF; }

.form-page {
  margin: 50px 150px 0 150px;
  background: #FEAF3D;
  height: 85px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row; }
  .form-page section input {
    width: 276px;
    height: 34px;
    border: 0;
    border-radius: 8px 0px 0px 8px;
    text-indent: 8px; }
  .form-page section input::placeholder {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #757575; }
  .form-page section button {
    width: 69px;
    height: 34px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    color: #FFFFFF;
    background: #6E4B87;
    border-radius: 8px;
    border: 0;
    transition: 0.5s;
    margin-left: -10px; }
  .form-page section button:hover {
    background: #422755; }
  .form-page section:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row; }
  .form-page section h6 {
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    color: #FFFFFF; }
  .form-page section select {
    width: 193px;
    height: 34px;
    border-radius: 8px;
    border: 0;
    margin-left: 13px;
    text-indent: 12px; }

.main-page {
  margin: 20px 180px 20px 180px; }
  .main-page ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap; }
    .main-page ul li {
      transition: height 0.15s ease-out;
      overflow: hidden;
      width: 253px;
      height: 360px;
      border: 1px solid #000000;
      border-radius: 14px;
      display: flex;
      align-items: flex-start;
      justify-content: none;
      flex-direction: column;
      padding: 14px;
      margin: 50px 0px 10px 0px; }
      .main-page ul li h3 {
        font-size: 14px;
        line-height: 19px;
        font-weight: 700;
        color: #414141;
        margin: 5px 5px 5px 0; }
      .main-page ul li p {
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        color: #000000;
        margin: 5px 5px 5px 0; }
      .main-page ul li h5 {
        margin: 5px 5px 5px 0;
        font-size: 12px;
        line-height: 16px;
        font-weight: 700;
        color: #000000; }
        .main-page ul li h5 span:nth-child(1) {
          font-size: 18px;
          line-height: 24px;
          font-weight: 700;
          color: #F04837; }
        .main-page ul li h5 span:nth-child(2) {
          font-size: 10px;
          line-height: 13px;
          font-weight: 400;
          color: #F04837;
          margin-left: 8px; }
      .main-page ul li h6 {
        font-size: 10px;
        line-height: 13px;
        font-weight: 400;
        color: #414141;
        margin: 5px 5px 5px 0; }
      .main-page ul li div {
        margin: 5px 5px 5px 0;
        display: none; }
        .main-page ul li div button:nth-child(1) {
          background: #422755;
          border-radius: 8px;
          border: 0;
          transition: 0.5s;
          width: 218px;
          height: 40px;
          font-size: 16px;
          line-height: 21px;
          font-weight: 700;
          color: #FFFFFF;
          margin-bottom: 8px; }
        .main-page ul li div button:nth-child(1):hover {
          background: #6E4B87; }
        .main-page ul li div button:nth-child(2) {
          background: #F04837;
          border-radius: 8px;
          border: 0;
          transition: 0.5s;
          width: 218px;
          height: 40px;
          font-size: 16px;
          line-height: 21px;
          font-weight: 700;
          color: #FFFFFF;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          flex-direction: row;
          padding: 24px; }
        .main-page ul li div button:nth-child(2):hover {
          background: #be1605; }
    .main-page ul li:hover {
      height: 460px;
      transition: height 0.25s ease-in; }
      .main-page ul li:hover div {
        display: block; }

.badge-first {
  position: absolute;
  background: #422755;
  margin-top: 10px;
  margin-left: -25px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: #FFFFFF;
  padding: 8px;
  border-radius: 0px 5px 5px 0px; }

.badge-second {
  position: absolute;
  background: #F04837;
  margin-top: 10px;
  margin-left: -25px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: #FFFFFF;
  padding: 8px;
  border-radius: 0px 5px 5px 0px; }

.button-page {
  width: 197px;
  height: 38px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background: #6E4B87;
  border-radius: 8px;
  border: 0;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  transition: 0.5s; }

.button-page:hover {
  background: #422755; }

.form-page-signup {
  margin: 50px 250px 100px 250px;
  background: #E5E5E5;
  height: 110px;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px 20px 20px 50px; }
  .form-page-signup h5 {
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    color: #6E4B87; }
  .form-page-signup fieldset {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    width: 100%; }
  .form-page-signup fieldset div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; }
    .form-page-signup fieldset div label {
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
      color: #757575;
      margin: 8px 8px 8px 0; }
    .form-page-signup fieldset div input {
      width: 270px;
      height: 34px;
      border: 0;
      border-radius: 8px;
      text-indent: 8px;
      width: 450px; }
  .form-page-signup section input::placeholder {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #757575; }
  .form-page-signup section button {
    width: 77px;
    height: 34px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    color: #FFFFFF;
    background: #6E4B87;
    border-radius: 8px;
    border: 0;
    transition: 0.5s;
    margin-left: 10px; }
  .form-page-signup section button:hover {
    background: #422755; }
  .form-page-signup section:nth-child(2) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row; }

.section-logo-page {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 50px 150px 50px 150px; }
  .section-logo-page div {
    width: 70%; }
    .section-logo-page div p {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
      color: #414141;
      padding: 16px; }

.footer-page {
  width: 100%;
  height: 126px;
  background: #422755;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #FFFFFF; }

@media (max-width: 600px) {
  .header-page {
    background-image: -webkit-linear-gradient(86deg, #FFFFFF 42%, #422755 43%);
    justify-content: space-evenly;
    margin-bottom: 0; }
  .header-page h3 {
    color: #422755;
    text-align: center; }
  .form-page {
    flex-direction: column;
    margin: -60px 20px 0 20px;
    height: 150px;
    justify-content: space-evenly; }
  .main-page {
    margin: 20px 80px 20px 80px; }
    .main-page ul {
      justify-content: center; }
  .form-page-signup {
    display: none; }
  .section-logo-page {
    flex-direction: column;
    margin: 50px 10px 50px 10px; }
    .section-logo-page div {
      width: 100%; }
      .section-logo-page div p {
        text-align: center; } }
